@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.Home {
  margin: 20px;
}

.Home .Home__main {
  background: #4a90e2;
  color: #ffffff;
  font-family: "Lora", serif;
  text-align: center;
  padding: 20px 20px 20px 20px;
  line-height: 25px;
}

.Home p.large {
  margin-bottom: 30px;
}

.Home .italic {
  font-style: italic;
}

.Home a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.Home .Home__img {
  align-items: center;
}

.Home .Home__img img {
  min-width: 90%;
  max-width: 90%;
  position: fixed;
  bottom: 0;
  padding-bottom: 30px;
}

/* --- Tablet --- */
@media all and (min-width: 600px) {
  .Home .Home__main {
    margin: 30px 50px 0px 50px;
    padding: 30px 35px 30px 35px;
    line-height: 35px;
  }

  .Home .Home__img img {
    min-width: 95%;
    max-width: 95%;
  }
}

/* --- Desktop --- */
@media all and (min-width: 1080) {
  .Home .Home__main {
    margin: 30px 100px 0px 100px;
  }

  .Home .Home__img img {
    min-width: 100%;
    max-width: 100%;
  }

  .Home .Home__main p.large {
    font-size: 2em;
  }
}
