@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap");

.Project .customer-information {
  margin: 0px 0px 0px 20px;
}

.Project {
  font-size: 1.1em;
  letter-spacing: 0.5px;
}

.Project .bold {
  font-weight: bold;
}

.Project .employee-names {
  font-size: 1.1em;
}

.Project .customer-information {
  font-size: 1em;
}

.Project .title {
  font-size: 1.2em;
}

/* --- TABLET --- */
@media all and (min-width: 600px) {
  .Project .employee-names {
    font-size: 1em;
  }
}
/* --- DESKTOP --- */
@media all and (min-width: 1080px) {
  .Project .employee-names {
    font-size: 0.9em;
  }
}
