@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.About {
  max-width: 100%;
}

.About .About__main {
  margin: 20px;
}

/* --- Text --- */
.About li {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 0.9em;
  letter-spacing: 0.5px;
}

.About .bold {
  font-weight: bold;
}

.About .line-large {
  margin: auto;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  width: 150px;
}

.About .blue {
  color: #4a90e2;
}

/* --- Images --- */
.About .item .img-container {
  padding: 0px;
  max-width: 100%;
}

.About .item img {
  max-width: 300px;
  display: block;
  margin: auto;
}

/* --- Flexbox --- */
.About .group.empDirectory,
.About .group.technology {
  display: flex;
  flex-direction: column;
}

.About .group.projects {
  display: flex;
  flex-direction: column-reverse;
}

.About .item {
  flex: 1;
  flex-direction: row;
  justify-content: center;
}

/* --- Tablet --- */
@media all and (min-width: 600px) {
  .About .About__main {
    margin: 50px 20px 20px 20px;
  }

  .About li {
    margin-left: 20px;
  }

  /* --- Flexbox --- */
  .About .group.empDirectory,
  .About .group.projects,
  .About .group.technology {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .About .item {
    float: right;
  }
}

/* --- Desktop  --- */
@media all and (min-width: 1080px) {
  .About .About__main {
    margin-left: 15%;
    margin-right: 15%;
  }
}
