@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap");

.Employee {
  letter-spacing: 0.5px;
}

.Employee a {
  font-size: 1.5em;
}

.Employee__edit-btn {
  background-color: #ffffff;
  color: #424242;
  border: 0;
  cursor: pointer;
  margin: 10px 0px 0px 75px;
  transition: 0.4s ease-in-out;
}

.Employee__edit-btn:hover {
  color: #0067d6;
}

.Employee .bold {
  font-weight: bold;
}

@media all and (min-width: 600px) {
  .Employee__edit-btn {
    margin-left: 140px;
  }
}
