@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body::-webkit-scrollbar {
  display: none;
}

.App {
  position: relative;
  min-height: 100vh;
}

.App__main {
  padding-bottom: 25px;
}

footer {
  background-color: #1c1c1c;
  color: #ffffff;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.8em;
  letter-spacing: 0.75px;
  width: 100%;
  padding-top: 10px;
  height: 25px;
  position: absolute;
  bottom: 0;
}
